*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
	text-shadow: none;
	color: black;
	text-transform: none;
}
body{
	overflow: hidden;
}

html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	-webkit-user-select: none;
	user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	background: transparent;
	overflow: hidden;
}
.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, 
html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
	background-color: transparent;
	border-color: transparent;
	color: black;
	text-shadow: none;
	font-weight: normal;
}

/* header */
header {
	position: fixed;
	height: 80px;
	background: transparent !important;
	background-color: transparent !important;
	width: 100%;
	z-index: 1000;
	font-family: 'Lucky';
	text-align: center;
	text-shadow: none;
}

header .back {
	display: inline-block;
	background-image: url('../img/Menu_Arrow.png');
	  background-size: 16px !important;
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	opacity: 1 !important;
	top: 26px !important;
  	left: 24px !important;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	transform: rotate(-180deg);
}
[data-role=header] div{
	display: inline-block;
}
header #nav {
	z-index: 2;
	position: relative;
	display: inline;
	float: left;
	top: 28px !important;
  	left: 15px !important;
	width: 25px;
	height: 25px;
}
.headerTitle{
	color: #FF7FD3;
  	font-size: 28px;
  	top: 30px;
  	position: relative;
}
.headerSubTitle{
	font-family: 'Orator';
	top: 37px;
  	position: relative;
 	width: 56%;
 	background-color: black;
  	color: white;
  	font-size: 17px;
  	font-weight: normal;
  	float: left;
  	text-align: right;
  	line-height: 10px;
  	padding: 0px 6px 5px 0;
}

[class*=ui-block-] > .ui-btn, [class*=ui-block-] > .ui-select, [class*=ui-block-] > .ui-checkbox, 
[class*=ui-block-] > .ui-radio, [class*=ui-block-] > button.ui-btn-inline, 
[class*=ui-block-] > button.ui-btn-icon-notext, .ui-header [class*=ui-block-] > button.ui-btn, 
.ui-footer [class*=ui-block-] > button.ui-btn {
	margin-right: 0;
}
.ui-page-theme-a .ui-btn.ui-btn-active, html .ui-bar-a .ui-btn.ui-btn-active, 
html .ui-body-a .ui-btn.ui-btn-active, html body .ui-group-theme-a .ui-btn.ui-btn-active, 
html head+body .ui-btn.ui-btn-a.ui-btn-active, .ui-page-theme-a .ui-checkbox-on:after, 
html .ui-bar-a .ui-checkbox-on:after, html .ui-body-a .ui-checkbox-on:after, 
html body .ui-group-theme-a .ui-checkbox-on:after, .ui-btn.ui-checkbox-on.ui-btn-a:after, 
.ui-page-theme-a .ui-flipswitch-active, html .ui-bar-a .ui-flipswitch-active, 
html .ui-body-a .ui-flipswitch-active, html body .ui-group-theme-a .ui-flipswitch-active, 
html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active, .ui-page-theme-a .ui-slider-track .ui-btn-active, 
html .ui-bar-a .ui-slider-track .ui-btn-active, html .ui-body-a .ui-slider-track .ui-btn-active, 
html body .ui-group-theme-a .ui-slider-track .ui-btn-active, 
html body div.ui-slider-track.ui-body-a .ui-btn-active{
	text-shadow: none;
	color:black;
}
.ui-navbar li:last-child .ui-btn{
	margin:0;
}
/* search */
.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, 
html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, 
html .ui-panel-page-container-a {
	position: relative;
	height: 30px;
	width: 60%;
	min-width: 200px;
	padding: 0;
	margin: auto;
	top:9px;
	/*top: 2px;
	text-decoration: none;*/
}
#findFriendPage, #targetPage { 
	background-image: url('../img/Background_Log In X 1.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
}
.ui-panel-wrapper{
	background: transparent !important;
	background-color: transparent !important;
}
/* content css */
#content {
	position: relative;
	margin: 0;
	height: 100%;
	padding: 0;
	text-align: center;
	/*direction: rtl;*/
	-webkit-overflow-scrolling: touch;
}

/* button visited*/
.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, 
html body .ui-group-theme-a .ui-btn, html head+body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, 
html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, 
html body .ui-group-theme-a .ui-btn:visited, html head+body .ui-btn.ui-btn-a:visited{
	border-color: black;
	text-shadow: none;
	color:black;
	background-color: transparent !important;
}
/*button hover*/
.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, 
html body .ui-group-theme-a .ui-btn, html head+body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:hover, 
html .ui-bar-a .ui-btn:hover, html .ui-body-a .ui-btn:hover, html body .ui-group-theme-a .ui-btn:hover, 
html head+body .ui-btn.ui-btn-a:hover{
	border-color: black;
	text-shadow: none;
	color:black;
	background-color: transparent !important;
}
/*button after -- checkbox*/
.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, 
html body .ui-group-theme-a .ui-btn, html head+body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:after, 
html .ui-bar-a .ui-btn:after, html .ui-body-a .ui-btn:after, html body .ui-group-theme-a .ui-btn:after, 
html head+body .ui-btn.ui-btn-a:after{
	border-color: black;
	text-shadow: none;
	color:black;
}
.ui-icon-check:after, html .ui-btn.ui-checkbox-on.ui-checkbox-on:after{
	background-color: transparent !important;
}
.ui-focus, .ui-btn:focus{
 -moz-box-shadow: none !important;
 -webkit-box-shadow: none !important;
 box-shadow: none !important;
}

.ui-panel .ui-panel-inner {
    overflow: auto;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;  
    -webkit-overflow-scrolling: touch;
}
/* search button */
.ui-input-search input{
	padding: 0 40px 0px 40px;
	direction: rtl;
	text-align: right;
}
.ui-input-search.ui-input-has-clear .ui-btn.ui-input-clear, 
.ui-input-text.ui-input-has-clear .ui-btn.ui-input-clear{
	margin: -15px .3125em 0;
}

.ui-input-search .ui-body-inherit .ui-corner-all .ui-shadow-inset .ui-input-has-clear{
	width: 50%;
}

/* google map -- prevent display copyright */
/*a[href^="http://maps.google.com/maps"]{display:none !important}*/
.gm-style-cc { display:none; }
.gmnoprint a, .gmnoprint span {display:none;}
.gmnoprint div {background:none !important;}

/* footer */
[data-role=footer]{
	margin: 0;
  	padding: 0;
  	height: 50px;
	background-color: black;
}
[data-role=navbar] li{
	height: 49px;
  	position: relative;
  	top: 1px;
}

[data-role=navbar]{
	height: 50px;
	background-color: black;

}

.ui-grid-b>.ui-block-a, .ui-grid-b>.ui-block-b, .ui-grid-b>.ui-block-c{
	border-left: 1px solid white;
	height: 39px;
  	top: 6px;

}
[data-role=navbar] ul li:first-child{
	border:none;
}
.ui-navbar li a:hover,.ui-navbar li a:focus,.ui-navbar li a:active{
	color:green !important;
	text-shadow:none;
	opacity: 1;

}	
.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, 
html body .ui-group-theme-a .ui-btn, html head+body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, 
html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, 
html body .ui-group-theme-a .ui-btn:visited, html head+body .ui-btn.ui-btn-a:visited{
	color: white;
	opacity: 0.5;
  	height: 21px;
  	line-height: 26px;
	border:none;
	font-weight: lighter;
}

/* login page */
#loginPage{
 background-image: url('../img/OPENING_GIF.gif');
 background-size: 100% 100% !important;
 background-repeat: no-repeat !important;
 background-position: center center !important;
}
.loginBox{
	position: relative;
	top: 79.5%;
	width: 56.5%;
	right:3.5px;
	min-width: 248px;
	max-width: 252px;
	font-family: 'Orator';
}
.loginFacebook{
	width: 100%;
	position: relative;
	height:46px;
	color:green;
	background-color: black;
	line-height: 53px;
}
.loginFacebook span{
	font-weight: bold;
}
.loginLicense{
	font-size: 10px;
	color: white;
	line-height: 31px;
	opacity: 0.5;
}

/* map page*/
#mapPage #content{
	padding: 0;
}
#map{
	position: relative;
	height: 100%;
}
/* panel */
.panel{
	/*direction: rtl;*/
	background-image: url('../img/Background_Menu X 1.png')  !important;
	background-size: cover;
 	background-repeat: no-repeat;
 	background-position: center center;

}
.panel .ui-listview>.ui-li-static, .panel .ui-listview>.ui-li-divider, .panel .ui-listview>li>a.ui-btn{
	color: green ;
	width: 78%;
  	margin-left: 13px;
}
.ui-listview>li p{
	overflow: visible;
}
.panel .ui-icon-custom {
    background-image: url('../img/Menu_Arrow.png');
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 10px center;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    margin: 0 !important;
    z-index: 1;
}
.navUserRow > span{
	border: none;
  	position: relative;
  	float: right;
  	width: 15px;
  	height: 15px;
}
.navTitle, .navMethod, .navUserName{
	color: white  !important;
	margin: 0 !important;
	cursor: pointer;
}
.navMethod, .navUserName{
	font-family: 'Orator';
}
.navTitle{
	font-family: 'Lucky';
	text-align: center !important;
	font-size: 20px !important;
	font-weight: bold;
	height: 45px;
  	line-height: 49px;
	/*padding:10px !important;*/
}

.navCont{
	position: relative;
	top:4px;
}
.navUserName{
	position: relative;
	font-size: 20px !important;
}
.navMethod{
	position: relative;
	/*font-size: 15px !important;*/
	font-size: small !important;
	opacity: 0.5;
}
.downPos{
	background-position: 19px 19px !important;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
.categories{
	display: none;
	top: 10px;
  	position: relative;
	height: 140px;
}
.categories label{
	font-family: 'Orator';
	color: white !important;
	border:none !important;
	/*height: 25px;*/
}

.ui-btn, label.ui-btn{
	font-weight: lighter;
}
.css-radio{
	width: 12px !important;
	/*top:8px !important;*/
  	position: relative;
}

.css-label{
	opacity: 0.5;
	position: relative;

}

/*.css-label span{
	float: left;
  	margin: 0;
  	padding: 0;
  	position: relative;
  	left: -29px;
  	width: 18px;
  	height: 18px;
  	background-color: transparent;
  	border:1px solid white;
}*/
.css-radio { display:none;}
.ui-radio .ui-btn.ui-radio-on:after{
	background-image: none;
    background-color:white;
    opacity: 1;
  	width: 8px;
  	height: 8px;
  	border-width: 2px;
  	border-style: solid;
}
.ui-btn.ui-checkbox-off:after, .ui-btn.ui-checkbox-on:after, 
.ui-btn.ui-radio-off:after, .ui-btn.ui-radio-on:after{
	background-image: none;
    background-color:transparent; 
  	width: 8px;
  	height: 8px;
  	border-width: 2px;
  	border-style: solid;
}
/*.css-radio:checked + .css-label span{
	background-color: red !important;
}*/
 

.save, .cancel{
	position: relative;
  	color: white;
  	font-family: Orator;
  	padding: 5px;
  	opacity: 0.5;
}
.save:hover, .cancel:hover,.save:focus, .cancel:focus,.save:active, .cancel:active{
	color:green !important;
	text-shadow:none;
	opacity: 1;
}	
.save{
	float: right;
}
.cancel{
	float: left;
}
.navAddFriend {
	background-image: url('../img/Avoidance_Icon 2.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 15px 18px;
	position: relative !important;
	text-align: center !important;
  	line-height: 35px !important;
}

/* input type text TODO changed
.ui-input-text input, .ui-input-search input{
	text-align: right;
	height: 0px;
}
.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a{
	height: 35px;
	width: 60%;
	margin: 7px 0 0 0;
}*/

/* checkbox TODO changed
.ui-controlgroup-horizontal .ui-controlgroup-controls>.ui-btn, .ui-controlgroup-horizontal .ui-controlgroup-controls li>.ui-btn, .ui-controlgroup-horizontal .ui-controlgroup-controls .ui-checkbox, .ui-controlgroup-horizontal .ui-controlgroup-controls .ui-radio, .ui-controlgroup-horizontal .ui-controlgroup-controls .ui-select{
	float: none;
	padding:5px 0 0 0;
}
.ui-icon-check:after, html .ui-btn.ui-checkbox-on.ui-checkbox-on:after{
	background-image: none;
}
.ui-checkbox:last-child{
	padding-bottom: 12px;
}
.ui-btn.ui-checkbox-off:after{
	background-color: transparent;
}*/