@media (min-width: 600px) {
	.panel{
		background-image: url('../img/Background_Menu X 2.png')  !important;
	}
	#loginPage{
	 	background-image: url('../img/OPENING_GIF.gif') !important;
	}
	#findFriendPage, #targetPage {
		background-image: url('../img/Background_Log In X 2.png') !important;
	}
}